<?xml version="1.0" encoding="UTF-8"?>

<!-- 
Configuration Spring pour les classes services.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:tx="http://www.springframework.org/schema/tx"
            xmlns:jee="http://www.springframework.org/schema/jee"
            xmlns:jdbc="http://www.springframework.org/schema/jdbc"
            xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd"
>
    <!-- ========================= couche BUSINESS ========================= -->

    <bean id="civiliteService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.CiviliteServiceImpl">
        <constructor-arg ref="civiliteDAO" index="0"/>
    </bean>

    <bean id="partenaireService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.PartenaireServiceImpl">
        <constructor-arg ref="partenaireDAO" index="0"/>
        <constructor-arg ref="villeService" index="1"/>
        <constructor-arg ref="produitService" index="2"/>
        <constructor-arg ref="photoService" index="3"/>    
    </bean>

    <bean id="paysService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.PaysServiceImpl">
        <constructor-arg ref="paysDAO" index="0"/>
    </bean>

    <bean id="produitService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.ProduitServiceImpl">
        <constructor-arg ref="produitDAO" index="0"/>
    </bean>

    <bean id="secteurService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.SecteurServiceImpl">
        <constructor-arg ref="secteurDAO" index="0"/>
    </bean>

    <bean id="utilisateurService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.UtilisateurServiceMock">
    </bean>

    <bean id="villeService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.VilleServiceImpl">
        <constructor-arg ref="villeDAO" index="0"/>
    </bean>
     <bean id="photoService"
        class="fr.gouv.diplomatie.applitutoriel.business.service.PhotoServiceImpl">
        <constructor-arg ref="photoDAO" index="0"/>
    </bean>

</beans>